REPORT FOR SWITCH: {{ inventory_hostname }}

-------------------------------------------------------------------------------
show cdp neighbors
-------------------------------------------------------------------------------

{{my_neighbors.stdout[0]}}


-------------------------------------------------------------------------------
show run vrf management
-------------------------------------------------------------------------------

{{vrf_management_running.stdout[0]}}
