hostname {{ hostname }}

interface mgmt0
  ip address {{ mgmt_ip }}/24
  vrf context management

{% for intf in if_list %}
interface {{ intf }}
  no shutdown
  switchport
  switchport mode trunk 

{% endfor %}
