Interface Details:

---------------------------------------------
| Interface  |  Prefix  |  Subnet  |  Mask  |
---------------------------------------------
|   {{ interface }}   | {{ fmt_int.prefix }} | {{ fmt_int.subnet }} |   {{ fmt_int.masklen }}   |
---------------------------------------------